html,

body{
    height: 100%;
}

body,
h1 {
    margin: 0;
}

header{
    display: flex;
    justify-content: space-around;
    background: rgb(22,156,131);
    background: linear-gradient(90deg, rgb(25, 206, 173) 25%,  rgb(151, 114, 219) 100%);
    color: aliceblue;
}

.orderList{
    display: block;
    font-size: 30px;
    list-style-type: none;
}